
#logo_text {
font-size: 3rem;
color: black
}

.bottom_map {
    width: 100%
}

.button {
    padding: 15px;
    margin: 15px;
}
.saveButton{
    background-color: #555;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: inherit;
    margin-left: 70%;
    bottom: 23px;
    right: 28px;
    width: 180px;  
}


// favorites-button
.popUp{
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  margin-left: 70%;
}

#city-search {
    text-align: center;
}

